html body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
p{
    padding: 0;
    margin: 0;
}
h1 {
    
    margin: 0;
}
#booksHeader {
    background-color: #77A6F7;
    height: 70px;
    height: 12vh;
    color: white;
}
#booksHeader h1 {
    font-family: Lobster;
    text-align: center;
    display: block;
    font-size: 6vh;
    padding: 1.5vh;
    position: absolute;
    left: 40vw
}


#booksHeader a{
    text-decoration: none;
    color: white;
}
.coverimg {
    width: 250px;
    height: 300px;
    text-align: center;
}
/*

#books-page img {
    width: 250px;
    height: 300px;
    text-align: center;
}
*/


#backIcon {
    float: left;
    width: 120px;
    height: 100px;
    margin: 1%;
}

#books-page{
    width: 100%;
}

.book .bookcover {
    padding: 5%;
    
}

.book .details {
    padding: 5%;
}

.bookTitle{
    font-size: 30px;
    text-align: center;
}

.year, .author {
    display: inline;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

.summary {
    font-size: 20px;
    padding: 20px;
}

.favs {
    width: 100%;
    height: 50px;
    background-color: #FFCCBC;
    border-radius: 10px;
    font-size: 25px;
}

@media screen and (min-width: 100px) and (max-width: 480px){
    #books-page{
        display: block;
/*        width: 20vw;*/
    }
    #backIcon {
        width: 60px;
        height: 50px;
    }
    .bookcover{
        width: 2px;
        
    }
    .bookcover img{
        max-width: 125px;
        max-height: 150px;
        text-align: center;
    }
    .bookTitle{
        font-size: 20px;
    }
    
    .favs {
        font-size: 20px;
        height: auto;
    }
    .year{
        font-size: 15px;
    }
    .author {
        font-size: 15px;
    }
    .summary {
        font-size: 12px;
    }
}


